
vite-project/src/output.css
vite-project/tailwind.config.js
vite-project/tailwind.config.js
my-app/.firebase/hosting..cache
my-app/.firebase/hosting.cHVibGlj.cache
my-app/firestore.rules
my-app/.firebase/hosting.ZGlzdA.cache
my-app/.firebaserc
my-app/404.html
my-app/apphosting.yaml
my-app/firebase.json
my-app/firestore.indexes.json
my-app/public/vite.svg
my-app/src/assets/react.svg
my-app/src/firebase/Authentication.js
my-app/src/firebase/Backend.js
