@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤바 넓이 지정 */
::-webkit-scrollbar {
    width: 5px;
}

  /* 스크롤바 트랙 꾸미기 */
::-webkit-scrollbar-track {
    background: rgb(168, 168, 168);
    border-radius: 10px;
}

  /* 스크롤바 손잡이 꾸미기 */
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}

  /* 스크롤바 손잡이 호버 시 색 */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}